/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body.centered {
  width: 900px;
  margin: auto;
  text-align: center;
}

#preview {
  position: absolute;
  top: 70px;
  left: 6px;
}

#controls {
  float: left;
  clear: right;
  position: absolute;
  top: 120px;
  left: 550px;
}

.ik-blue {
  color: #00f !important;
}

.neon {
  color: #0f0 !important;
}

.light {
  color: #eee !important;
}

.default {
  background-color: #eee;
}

.bg-ik-blue {
  background-color: #00f !important;
}

.bg-green {
  background-color: #0f0 !important;
}

.futura {
  font-family: Futura, SansSerif;
}

.helvetica-bold {
  font-family: Helvetica, SansSerif;
  font-weight: bold;
}

.times {
  font-family: "Times New Roman", Serif;
}

input, textarea, label {
  font-size: 11px;
}

input#headline-text, textarea#body-text {
  display: block;
  background-color: #EEE;
  padding: 10px;
  border: 0px;
  margin-bottom: 10px;
}

label {
  float: left;
  clear: both;
}

legend {
  padding-top: 0px;
  margin-bottom: 6px;
  line-height: 120%;
  font-size: 20px;
  font-weight: bold;
}

#headline {
  position: absolute;
  font-size: 5em;
  font-weight: normal;
  z-index: 666;
}

#body {
  float: left;
  z-index: 667;
  position: absolute;
  top: 520px;
  width: 450px;
 }

#show-pane {
  border: 12px solid transparent;
  height: 710px;
  width: 500px;
  float: left;
  clear: left;
  overflow: hidden;
  position: absolute;
  top: 120px;
}

.gradient.bottom {
  background: -webkit-linear-gradient(top, #fff, #000) !important;
  background: -moz-linear-gradient(top, #fff, #000) !important;
  background: -ms-linear-gradient(top, #fff, #000) !important;
  background: -o-linear-gradient(top, #fff, #000) !important;
}

.gradient.bg-ik-blue.bottom {
  background: -webkit-linear-gradient(top, #fff, #00f) !important;
  background: -moz-linear-gradient(top, #fff, #00f) !important;
  background: -ms-linear-gradient(top, #fff, #00f) !important;
  background: -o-linear-gradient(top, #fff, #00f) !important;
}

.gradient.bg-green.bottom {
  background: -webkit-linear-gradient(top, #fff, #0f0) !important;
  background: -moz-linear-gradient(top, #fff, #0f0) !important;
  background: -ms-linear-gradient(top, #fff, #0f0) !important;
  background: -o-linear-gradient(top, #fff, #0f0) !important;
}

.gradient.top {
  background: -webkit-linear-gradient(top, #000, #fff) !important;
  background: -moz-linear-gradient(top, #000, #fff) !important;
  background: -ms-linear-gradient(top, #000, #fff) !important;
  background: -o-linear-gradient(top, #000, #fff) !important;

}

.gradient.bg-ik-blue.top {
  background: -webkit-linear-gradient(top, #00f, #fff) !important;
  background: -moz-linear-gradient(top, #00f, #fff) !important;
  background: -ms-linear-gradient(top, #00f, #fff) !important;
  background: -o-linear-gradient(top, #00f, #fff) !important;
}

.gradient.bg-green.top {
  background: -webkit-linear-gradient(top, #0f0, #fff) !important;
  background: -moz-linear-gradient(top, #0f0, #fff) !important;
  background: -ms-linear-gradient(top, #0f0, #fff) !important;
  background: -o-linear-gradient(top, #0f0, #fff) !important;
}

.gradient.left {
  background: -webkit-linear-gradient(left, #000, #fff) !important;
  background: -moz-linear-gradient(left, #000, #fff) !important;
  background: -ms-linear-gradient(left, #000, #fff) !important;
  background: -o-linear-gradient(left, #000, #fff) !important;

}

.gradient.bg-ik-blue.left {
  background: -webkit-linear-gradient(left, #00f, #fff) !important;
  background: -moz-linear-gradient(left, #00f, #fff) !important;
  background: -ms-linear-gradient(left, #00f, #fff) !important;
  background: -o-linear-gradient(left, #00f, #fff) !important;
}

.gradient.bg-green.left {
  background: -webkit-linear-gradient(left, #0f0, #fff) !important;
  background: -moz-linear-gradient(left, #0f0, #fff) !important;
  background: -ms-linear-gradient(left, #0f0, #fff) !important;
  background: -o-linear-gradient(left, #0f0, #fff) !important;
}

.gradient.right {
  background: -webkit-linear-gradient(right, #000, #fff) !important;
  background: -moz-linear-gradient(right, #000, #fff) !important;
  background: -ms-linear-gradient(right, #000, #fff) !important;
  background: -o-linear-gradient(right, #000, #fff) !important;
}

.gradient.bg-ik-blue.right {
  background: -webkit-linear-gradient(right, #00f, #fff) !important;
  background: -moz-linear-gradient(right, #00f, #fff) !important;
  background: -ms-linear-gradient(right, #00f, #fff) !important;
  background: -o-linear-gradient(right, #00f, #fff) !important;
}

.gradient.bg-green.right {
  background: -webkit-linear-gradient(right, #0f0, #fff) !important;
  background: -moz-linear-gradient(right, #0f0, #fff) !important;
  background: -ms-linear-gradient(right, #0f0, #fff) !important;
  background: -o-linear-gradient(right, #0f0, #fff) !important;
}

#exposed-content {
  display: none;
  clear: both;
}

#exposed-content input {
  width: 40em;
}

#show-pane img {
  position: absolute;
  float: right;
  z-index: 1;
}

.highlighted span {
  background-color: black !important;
  color: white;
}

.highlighted.ik-blue span {
  background-color: #00f !important;
  color: white;
}

.highlighted.neon span {
  background-color: #0f0 !important;
  color: white;
}

.underline #body span {
  text-decoration: underline;
}

.underline #circle div {
  text-decoration: underline;
}

.strikethrough #body span {
  text-decoration: line-through;
}

.strikethrough #circle div {
  text-decoration: line-through;
}

.underline #headline.futura span {
  background-image: url("../img/big-under.png");
  background-position: 0px 87px;
  background-repeat: repeat-x;
}

.strikethrough #headline.futura span {
  background-image: url("../img/big-under.png");
  background-position: 0px 65px;
  background-repeat: repeat-x;
}

.underline.strikethrough #headline.futura span {
  background-image: url("../img/big-both.png") !important;
  background-position: 0px 65px;
  background-repeat: repeat-x;
}


.underline #headline span {
  background-image: url("../img/big-under.png");
  background-position: 0px 77px;
  background-repeat: repeat-x;
}

.strikethrough #headline span {
  background-image: url("../img/big-under.png");
  background-position: 0px 45px;
  background-repeat: repeat-x;
}

.underline.strikethrough #headline span {
  background-image: url("../img/big-both.png") !important;
  background-position: 0px 45px;
  background-repeat: repeat-x;
}


.underline.neon #headline.futura span {
  background-image: url("../img/big-under-neon.png");
  background-position: 0px 90px;
  background-repeat: repeat-x;
}

.strikethrough.neon #headline.futura span {
  background-image: url("../img/big-under-neon.png");
  background-position: 0px 65px;
  background-repeat: repeat-x;
}

.underline.strikethrough.neon #headline.futura span {
  background-image: url("../img/big-both-neon.png") !important;
  background-position: 0px 65px;
  background-repeat: repeat-x;
}

.underline.neon #headline span {
  background-image: url("../img/big-under-neon.png");
  background-position: 0px 77px;
  background-repeat: repeat-x;
}

.strikethrough.neon #headline span {
  background-image: url("../img/big-under-neon.png");
  background-position: 0px 45px;
  background-repeat: repeat-x;
}

.underline.strikethrough.neon #headline span {
  background-image: url("../img/big-both-neon.png") !important;
  background-position: 0px 45px;
  background-repeat: repeat-x;
}

.underline.ik-blue #headline.futura span {
  background-image: url("../img/big-under-ik-blue.png");
  background-position: 0px 90px;
  background-repeat: repeat-x;
}

.strikethrough.ik-blue #headline.futura span {
  background-image: url("../img/big-under-ik-blue.png");
  background-position: 0px 65px;
  background-repeat: repeat-x;
}

.underline.strikethrough.ik-blue #headline.futura span {
  background-image: url("../img/big-both-ik-blue.png") !important;
  background-position: 0px 65px;
  background-repeat: repeat-x;
}

.underline.ik-blue #headline span {
  background-image: url("../img/big-under-ik-blue.png");
  background-position: 0px 77px;
  background-repeat: repeat-x;
}

.strikethrough.ik-blue #headline span {
  background-image: url("../img/big-under-ik-blue.png");
  background-position: 0px 45px;
  background-repeat: repeat-x;
}

.underline.strikethrough.ik-blue #headline span {
  background-image: url("../img/big-both-ik-blue.png") !important;
  background-position: 0px 45px;
  background-repeat: repeat-x;
}

.center-aligned {
 text-align: center;
 }

.frame {
  border: 12px solid black !important;
}

#gradients {
  margin-left: 1em;
}

#left-right-up-down {
  display: none;
}

#up {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}

#down {
  display: none;
  position: absolute;
  top: 660px;
  width: 100%;
  text-align: center;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

#right {
  display: none;
  position: absolute;
  top: 300px;
  left: 210px;
  width: 100%;
  text-align: center;
  transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}

#left {
  display: none;
  position: absolute;
  top: 300px;
  left: -230px;
  width: 100%;
  text-align: center;
  transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
}

#circle {
  display: none;
  font-size: 20px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 30px;
  color: white;
  background-color: black;
  padding: 35px 0px 32px 0px;
  text-align: center;
  z-index: 999;
}

.ik-blue #circle {
  display: none;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 30px;
  color: white;
  background-color: #00f;
  padding: 35px 0px 32px 0px;
  text-align: center;
  z-index: 999;
}

.neon #circle {
  display: none;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 30px;
  color: white;
  background-color: #0f0 !important;
  padding: 35px 0px 32px 0px;
  text-align: center;
  z-index: 999;
}

#circle-text {
  display: none;
}

#circle div {
  font-family: inherit;
}

.slash_0 {
  height: 0px;
  border: 2px solid black;
  width: 168%;
  position: absolute;
  top: 47%;
  left: -35%;
  z-index: 800;
  transform:rotate(55deg);
  -o-transform:rotate(55deg);
  -moz-transform:rotate(55deg);
  -webkit-transform:rotate(55deg);
}

.slash_1 {
  height: 0px;
  border: 5px solid black;
  width: 168%;
  margin-left: 0;
  position: absolute;
  top: 47%;
  left: -35%;
  z-index: 800;
  transform:rotate(-55deg);
  -o-transform:rotate(-55deg);
  -moz-transform:rotate(-55deg);
  -webkit-transform:rotate(-55deg);
}

.slash_2 {
  height: 0px;
  border: 2px solid black;
  width: 168%;
  margin-left: 0;
  position: absolute;
  top: 47%;
  left: -35%;
  z-index: 800;
  transform:rotate(-55deg);
  -o-transform:rotate(-55deg);
  -moz-transform:rotate(-55deg);
  -webkit-transform:rotate(-55deg);
}

.slash_3 {
  height: 0px;
  border: 5px solid black;
  width: 168%;
  position: absolute;
  top: 47%;
  left: -35%;
  z-index: 800;
  transform:rotate(55deg);
  -o-transform:rotate(55deg);
  -moz-transform:rotate(55deg);
  -webkit-transform:rotate(55deg);
}

.zig_0 {
  position: absolute;
  top: 0px;
  left: 40px;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
}

.zig_1 {
  position: absolute;
  top: 130px;
  left: 170px;
  -webkit-transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
}

.zig_2 {
  position: absolute;
  top: 200px;
  left: 30px;
  -webkit-transform: rotate(-139deg);
  -moz-transform: rotate(-139deg);
}

.zig_3 {
  position: absolute;
  top: 320px;
  left: 180px;
  -webkit-transform: rotate(-239deg);
  -moz-transform: rotate(-239deg);
}

.zig_4 {
  position: absolute;
  top: 470px;
  left: 120px;
  -webkit-transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
}

.zig_5 {
  position: absolute;
  top: 580px;
  left: 20px;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
